[submodule "hev-socks5-tunnel"]
	path = app/src/main/jni/hev-socks5-tunnel
	url = https://github.com/pumPCin/hev-socks5-tunnel.git
	branch = master
[submodule "byedpi"]
	path = app/src/main/cpp/byedpi
	url = https://github.com/pumPCin/byedpi.git
	branch = main